<launch>
    <!-- If you want to generate a ROS bag with the recorded simulated data, set this flag to true -->
    <arg name="record" default="false"/>

    <!-- Start the a underwater world simulation scenario -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="worlds/lake.world"/> -->
        <arg name="world_name" value="worlds/dice_rl.world"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- Add the RexROV vehicle to the simulation (namespace: rexrov) -->
    <include file="$(find uuv_descriptions)/models/rexrov/launch/upload_rexrov.launch">
        <arg name="x" default="-10"/>
        <arg name="y" default="-30"/>
        <arg name="z" default="-45"/>
        <arg name="yaw" default="135"/>
    </include>


    <include file="$(find uuv_control_cascaded_pid)/launch/velocity_control.launch">
        <arg name="uuv_name" value="rexrov"/>
        <arg name="model_name" value="rexrov"/>
    </include>

    <node pkg="visual_servoing" name="accel_graph" type="accel_graph.py"  output="screen"/>
    <node pkg="rqt_plot" name="jerk" type="rqt_plot" args="/jerk"/>
    <!-- Open RViz for visualization of sensor data and visualization markers -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find uuv_gazebo)/rviz/controller_demo.rviz"/> -->
</launch>
